#cloud-config

write_files:
  - path: /etc/pgbouncer/config/pgbouncer.ini
    permissions: "0644"
    encoding: b64
    content: ${config}
  - path: /etc/pgbouncer/config/userlist.txt
    permissions: "0644"
    encoding: b64
    content: ${userlist}